.containerCard{
    padding:20px;
    border: 1px solid rgba(51, 51, 51, 0.658);
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column-reverse;
    box-shadow: 2px 2px 2px rgba(66, 66, 66, 0.466);
    background-color: rgba(207, 207, 207, 0.247);
    border-radius: 4%;
    padding: 18px;
    margin: 20px;
    margin-bottom: 50px;
}

.imageCard{
    border: 1px solid black;
    border-radius: 4%;

}
.containerCard:hover {
    scale:1.1
}

.nameCard{
    margin:20px
}